.godot/
.idea/
.vs/
.build/
bin/
obj/
local.props
*.user
*.log
src/ 
steam/
.vscode/
build/
artifacts/
Slay the Spire 2/
.obsidian/
设计方案/
update_note/
STS2_GuZhenRen.zip
.dsh/
ModUploader-win-x64/
GuZhenRen_v0.10.1.zip
docs/
.mimosa/
.zcode/